.popup__input-error {
    display: block;
    min-height: 12px;
    font-size: 12px;
    font-weight: 400;
    color: #FF0000;
    visibility: hidden;
    padding-block-start: 4px;
}

.popup__error_visible {
    visibility: visible;
}